* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atari Small';
}

@font-face {
    font-family: 'Atari Small';
    font-style: normal;
    font-weight: normal;
    src: local('Atari Small'), url('fonts/AtariSmall.woff') format('woff');
}

.container {
    background-color: black;
    padding: 0 1rem 0 1rem;
    margin: auto;
}

.headline {
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-shadow: 3px 3px 1px rgba(93, 92, 92, 0);
}

#game {
    background-image: url(IMG/cluster-of-stars-1341279.jpg);
    background-size: contain;
    margin: auto;
    width: 80vw;
    height: 80vh;
    /* overflow: hidden; */
}

#hero {
    background: url(IMG/Invaders/Saf1.png);
    height: 7vh;
    position: absolute;
    top: 77vh;
    left: 47vw;
}

.invader {
    height: 5vh;
    position: absolute;
    top: 10vh;
    left: 12vw;
}

.audioplayer {
    width: 90vw;
    display: flex;
    margin: auto;
}

.audioplayer .player {
    margin: auto;
}

#missiles {
    width: 80vw;
    height: 80vh;
    position: absolute;
   
}

.missile {
    color: yellow;
    font-family: 'Atari Small';
    font-size: 2vh;
    transform: rotate(-90deg);
    position: absolute;
}