#youWon {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 60vh;
    width: 40vw;
    background-color: white;
    border: 5px solid tomato;
    border-radius: 8px;
    color: tomato;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
    animation: 1s modal;
}

#youWon h3 {
    font-size: 3rem;
    padding: 2rem;
    padding-bottom: 1rem;
}

#youWon p {
    padding: 0.5rem;
}

.highscore {
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin: 1rem;
    background-color: tomato;
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;
}

#legend {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 60vh;
    width: 40vw;
    background-color: white;
    border: 5px solid tomato;
    border-radius: 8px;
    color: tomato;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
}

#score {
    padding: 2rem;
}

#legendName {
    margin: 2rem auto;
    width: 20vw;
    padding: 1rem;
    color: black;
    text-shadow: 4px 4px 1px yellow;
    font-size: 2rem;
}

#submit {
    text-decoration: none;
    color: white;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    background-color: tomato;
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;
    font-size: 2rem;
}

#highscores{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 60vh;
    width: 40vw;
    background-color: white;
    border: 5px solid tomato;
    border-radius: 8px;
    color: tomato;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
    animation: 1s modal;
}

#highscores h3{
    font-size: 3rem;
    padding: 2rem;
    padding-bottom: 1rem;
}

.restart {
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
    margin: 1rem;
    background-color: tomato;
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;
}


@keyframes modal {
    0% {
        transform: scaleX(0) rotate(10deg);

    }

    100% {
        transform: scaleX(1) rotate(360deg);
    }
}