* {
    margin: 0;
    padding: 0;
    }

#headline1 {
    margin: 1rem 0.5rem;
    font-size: 18px;
}

.baguachart {
    width: 65%;
}

.p2 {
    font-weight: bold;
    text-align: center;
}


span {
    font-weight: bold;
}

table {
 width: 100%;
margin: 0rem 0.5rem;
}

td {
    width: 33.33%;
    height: 100px;
    padding: 0.5rem 1rem;
    text-align: center;
    
}

.cell11 {
    background-color: rgb(136, 136, 136);
}
.cell12 {
    background-color: rgb(21, 13, 122);
    color: white;
}
.cell13 {
    background-color: rgb(216, 205, 59);
}
.cell21 {
    background-color: rgb(231, 199, 17);
}
.cell22 {
    background-color: rgb(81, 0, 119);
    color: white;
}
.cell23 {
    background-color: rgb(67, 104, 172);
    color: white;
}
.cell31 {
    background-color: rgb(117, 69, 23);
    color: white;
}
.cell32 {
    background-color: rgb(180, 64, 11);
    color: white;
}
.cell33 {
    background-color: rgb(39, 129, 32);
    color: white;
}